.grid-wrapper {
	display: flex;
    justify-content: space-between;
}
.grid-header, .grid-body {
	display: flex;
    justify-content: space-between;
}
.grid-header .grid-column {
	display: flex;
}
#freezedGrid, #unfreezedGrid, #actionGrid {
	display: flex;
    flex-direction: column;
}
#freezedGrid {
	flex-basis: 20%;
}
#unfreezedGrid {
	flex-basis: 70%;
}
#actionGrid {
	flex-basis: 10%;
}
.pinned::before {
	content: "\2191";
}
.unpinned::before {
	content: "\2193";
}