.grid-wrapper {
	display: flex;
    justify-content: space-between;
}
.grid-header, .grid-body {
	display: flex;
    justify-content: space-between;
}
.grid-header .grid-column {
	display: flex;
}
#freezedGrid, #unfreezedGrid, #actionGrid {
	display: flex;
    flex-direction: column;
}
#freezedGrid {
	flex-basis: 20%;
}
#unfreezedGrid {
	flex-basis: 70%;
}
#actionGrid {
	flex-basis: 10%;
}
.pinned::before {
	content: "\2191";
}
.unpinned::before {
	content: "\2193";
}
.sort-asc::before {
	content: "\25B2";
}
.sort-desc::before {
	content: "\25BC";
}
.hide {
	display: none !important;
}
.grid-column > div {
	min-height: 30px;
	max-height: 300px;
	min-width: 20px;
    max-width: 200px;
}
.draggable-icon::before {
	content: url(drag_icon.svg);
	cursor: move;
}
.draggable-icon img {
	cursor: move;
}